In [4]:
def add(num1, num2=100):
  return num1 + num2

In [9]:
# 위지 지정 방식
print(add(10,20))

30

In [10]:
print(add(10))

110

In [11]:
# 키워드 지정 방식
print(add(num2=20, num1=10))

30

In [ ]:
# 가변 위치 매개변수(Variable Positional Parameters) : 함수내에서 튜플객체로 다뤄짐
def add2(*values):
  sum = 0
  for ele in values:
    sum += ele
  return sum

In [16]:
print(add2(1,2,3))
print(add2(10,20,30,40))
print(add2(1.1, 2.2, 3.3, 4.4, 5.5))

6
100
16.5

In [ ]:
# 가변 키워드 매개변수(Variable Keyword Parameters) : 함수내에서 딕셔너리 객체로 다뤄짐
def makePerson(**attr):
  # person = {'name':'이름','age':'나이' ,'address':'주소'}
  # person.update(attr)
  # return person
  return attr

In [24]:
print(makePerson(name='홍길동',age=20,address='부산',gender='남'))

{'name': '홍길동', 'age': 20, 'address': '부산', 'gender': '남'}

In [ ]:
class StudentGrades:
  
  # 생성자 메소드
  def __init__(self):
    self.grades = {} # 학생 성적을 저장할 딕셔너리
    
  # 일반 메소드
  def add_student(self, name, **kwargs):
    '''학생의 성적 추가 '''
    self.grades[name] = kwargs
    
  def get_student_grades(self, name):
    '''특정 학생의 성적을 조회'''
    return self.grades.get(name, "학생이 존재하지 않습니다.")
  
  def print_all_grades(self):
    '''모든 학생의 성적을 출력'''
    for name, subjects in self.grades.items():
      print(f'{name}: {subjects}')

In [30]:
grades_manager = StudentGrades()  # 객체 생성

In [31]:
# 학생추가
grades_manager.add_student("홍길동", math=90, eng=80, kor=70)
grades_manager.add_student('홍길순',math=85, eng=70)

In [35]:
# 특정학생 성적 조회
print(grades_manager.get_student_grades("홍길동"))
print(grades_manager.get_student_grades("홍길순"))
print(grades_manager.get_student_grades("홍길북"))

{'math': 90, 'eng': 80, 'kor': 70}
{'math': 85, 'eng': 70}
학생이 존재하지 않습니다.

In [33]:
# 모든학생 출력
grades_manager.print_all_grades()

홍길동: {'math': 90, 'eng': 80, 'kor': 70}
홍길순: {'math': 85, 'eng': 70}

In [44]:
help(StudentGrades.add_student)
help(grades_manager.add_student)

Help on function add_student in module __main__:

add_student(self, name, **kwargs)
    학생의 성적 추가

Help on method add_student in module __main__:

add_student(name, **kwargs) method of __main__.StudentGrades instance
    학생의 성적 추가

In [54]:
StudentGrades.add_student?
# grades_manager.add_student?

Signature: StudentGrades.add_student(self, name, **kwargs)
Docstring: 학생의 성적 추가
File:      c:\users\user\appdata\local\temp\ipykernel_26104\2147484315.py
Type:      function

In [55]:
print(StudentGrades.add_student.__doc__)
print(grades_manager.add_student.__doc__)

학생의 성적 추가
학생의 성적 추가

In [58]:
def add3(num1, num2):
  return num1 + num2

In [61]:
print(add3(10,20))
print(add3(num2=100,num1=100))

30
200

In [68]:
# 키워드 전용 매개변수(Keyword-only Arguments)
def add4(*,num1, num2):
  return num1 + num2

In [69]:
# print(add4(10,20))
print(add4(num1=10,num2=20))

30

In [70]:
#위치 전용 매개변수(Positional-only Parameters)
def add5(num1, num2,/):
  return num1 + num2

In [76]:
print(add5(10,20))
# print(add5(num1=10,num2=20))

30

In [77]:
def f (a,b,/,c,d,*,e,f):
  pass

In [79]:
f(1,2,3,4,e=10,f=20)

In [80]:
f(1,2,c=1,d=2,e=10,f=20)

In [81]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [82]:
list = [3,1,4,2]

In [83]:
sorted(list)

[1, 2, 3, 4]

In [87]:
sorted(list,reverse=True)

[4, 3, 2, 1]

In [88]:
data = [('홍길동',20),('홍길서',30),('홍길남',40)]

In [ ]:
# key매개변수를 사용하여 두번째 요소를 기준으로 정렬
sorted(data,key=lambda ele:ele[0],reverse=True)

[('홍길서', 30), ('홍길동', 20), ('홍길남', 40)]

:

In [98]:
('홍길동',20)[1]

20